@model MarketApplicationMVC.Application.ViewModel.Market.ListOfferForListVm
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="AddOffer">Create New</a>
    </p>
}

<form asp-action="Index" asp-controller="Market" name="formularz" method="post">
    <div class="row">
        <input type="text" asp-for="SearchPhrase" name="searchPhrase" id="searchPhrase" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Offers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "ViewOfferDetails", new { id = item.Id })
                            @if (item.UserId == UserManager.GetUserId(User))
                            {
                                @(" | ")
                                @Html.ActionLink("Delete", "DeleteOffer", new { id = item.Id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PageClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="5" />
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        function PageClick(index) {

            document.getElementById("pageNo").value = index;
            document.formularz.submit();
        }
    </script>
}
