@model MarketApplicationMVC.Application.ViewModel.Forum.ListForumThreadForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddForumThread">Create New</a>
</p>
<form asp-action="Index" asp-controller="Forum" name="formularz" method="post">
    <div class="row">
        <input type="text" asp-for="SearchPhrase" name="searchPhrase" id="searchPhrase"/>
        <input type="submit" value="Wyszukaj"/>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Author
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Threads)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorName)
                        </td>
                        <td>
                            <!--@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |-->
                           <!--@Html.ActionLink("Details", "Details", new { id = item.Id }) |-->
                            @Html.ActionLink("Posts", "ViewThreadPosts", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                <td>
                    @if(Model.CurrentPage == i)
                    {
                        @i
                    }
                    else
                    {
                        <a href="javaScript:PageClick(@i)">@i</a>
                    }
                </td>
                }
            </tr>
        </table>
        <input type="hidden" asp-for="CurrentPage" name="currentPage" id="currentPage"/>
        <input type="hidden" asp-for="PageSize" name="pageSize" id="pageSize" value="5"/>
    </div>
</form>


@section Scripts
{
    <script type="text/javascript">
        function PageClick(index)
        {
            document.getElementById("currentPage").value = index;
            document.formularz.submit();
        }

    </script>
}
