@model MarketApplicationMVC.Application.ViewModel.Forum.ListForumPostForListVm

@{
    ViewData["Title"] = Model.ThreadName;
}

<h1>@Model.ThreadName</h1>

<p>
    @Html.ActionLink("Add post", "AddThreadPost", new { threadId=Model.ThreadId })
</p>
<form asp-action="ViewThreadPosts" method="post">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Author
                    </th>
                    <th>
                        Post content
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostContent)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" asp-for="CurrentPage" name="currentPage" id="currentPage" />
        <input type="hidden" asp-for="PageSize" name="pageSize" id="pageSize" value="10"/>
        <input type="hidden" name="threadId" value="@Model.ThreadId" />
    </div>
    <div class="row">
        <table>
            <tr>
                @for(int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                <td>
                    @if(i == Model.CurrentPage)
                    {
                        @i
                    }
                    else
                    {
                        <a href="javaScript:PageClick(@i)">@i</a>
                    }
                </td>
                }
            </tr>
        </table>
    </div>
</form>

@section Scripts
{
<script type="text/javascript">
    function PageClick(index)
    {
        document.getElementById("currentPage").value = index;
        document.forms[0].submit();
    }

</script>
}
